#fo{
    background-color: rgb(255, 159, 159);
}
#nom1{
    font-size: 30px;
    position: relative;
    left: 5cm;
}
#N1{
    font-size: 30px;
    
}
#N2{
    font-size: 30px;
    
}
#nom2{
    font-size: 30px;
    position: relative;
    left: 5cm;
}
#but{
    font-size: 30px;
    position: relative;
    left: 5cm;
}
#rendu{
    font-size: 30px;
}